In [1]:
import pandas as pd
import requests
import matplotlib.pyplot as plt
import seaborn as sns

import wrangle

ModuleNotFoundError: No module named 'wrangle'

In [25]:
url = 'https://top100.winespectator.com/wp-content/themes/top100-theme/src/data/1988.json'

In [26]:
wines = requests.get(url).json()

In [27]:
url = 'https://top100.winespectator.com/wp-content/themes/top100-theme/src/data/'
wines = []
year = 1988
while year <= 2021:
    new_wines = requests.get(url+str(year)+'.json').json()
    wines.extend(new_wines)
    year += 1

In [28]:
len(wines)

3400

In [31]:
df = pd.DataFrame(wines)

In [32]:
df.head()

,id,winery_full,winery_full_nonentities,wine_full,vintage,note,taster_initials,color,country,region,score,price,issue_date,top100_year,top100_rank,alternate_bottle_size
0,5893,Château Lynch Bages,Château Lynch Bages,Pauillac,1985,"Rich and massively concentrated, with layers o...",,red,France,Bordeaux,97,37,"Apr 30, 1988",1988,1,NaN
1,5786,Château Margaux,Château Margaux,Margaux,1985,A beautifully structured and proportioned wine...,,red,France,Bordeaux,99,76,"Apr 30, 1988",1988,2,NaN
2,70904,Domaine de la Romanée-Conti,Domaine de la Romanée-Conti,Richebourg,1985,"A truly great wine. Amazing concentration, bri...",HS,red,France,Burgundy,100,210,"Feb 29, 1988",1988,3,NaN
3,4652,Tollot-Beaut,Tollot-Beaut,Corton,1985,"Rich, rough and magnificently complex, a power...",,red,France,Burgundy,97,75,"Mar 15, 1988",1988,4,NaN
4,8365,Gaja,Gaja,Barbaresco Sorì Tildìn,1985,"A majestic wine, beautifully harmonious, seaml...",,red,Italy,Piedmont,97,94,"Dec 15, 1988",1988,5,NaN

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3400 entries, 0 to 3399
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       3400 non-null   object
 1   winery_full              3400 non-null   object
 2   winery_full_nonentities  2700 non-null   object
 3   wine_full                3400 non-null   object
 4   vintage                  3400 non-null   object
 5   note                     3400 non-null   object
 6   taster_initials          3400 non-null   object
 7   color                    3400 non-null   object
 8   country                  3400 non-null   object
 9   region                   3400 non-null   object
 10  score                    3400 non-null   int64
 11  price                    3400 non-null   object
 12  issue_date               3400 non-null   object
 13  top100_year              3400 non-null   int64
 14  top100_rank              3400 non-null   int64
 15  alternate_bottle_size    200 non-null    object
dtypes: int64(3), object(13)
memory usage: 425.1+ KB

In [47]:
df.vintage.value_counts()

1990    147
1997    126
2015    121
2010    119
2005    115
1985    110
2001    110
2007    109
2016    108
1995    107
2003    105
1999    104
2004    103
2009    100
2008     99
1994     98
1988     96
1986     94
2006     93
2012     93
1996     90
1992     87
2017     87
1989     86
2014     86
2011     82
1998     82
2000     82
2018     81
2002     78
2013     71
1993     71
1987     69
1991     63
NV       58
2019     32
1982     11
2020     10
1983      6
1984      6
1980      1
1979      1
1981      1
1975      1
1970      1
Name: vintage, dtype: int64

In [35]:
df.isnull().sum()

id                            0
winery_full                   0
winery_full_nonentities     700
wine_full                     0
vintage                       0
note                          0
taster_initials               0
color                         0
country                       0
region                        0
score                         0
price                         0
issue_date                    0
top100_year                   0
top100_rank                   0
alternate_bottle_size      3200
dtype: int64